<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" routerLink="home" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="https://github.com/mwendaB">About</a>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <h1>GITHUB SEARCH.</h1>
    <form action="" class="enter">
        <div class="form-group">
            <input type="text" aria-label="username" placeholder="enter username here...." class="form-control" >

        </div>
    </form>

    <div >
        <div class="row">
            <div class="col-sm-3">
                <img class="img"  alt="profile">
            </div>
            <br>
            <br>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item" ></li>
                    <li class="list-group-item" ></li>
                    <li class="list-group-item" ></li>
                    <li class="list-group-item" ></li>
                </ul>
            </div>
